/* Charity: water Brand Colors

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

*/
@font-face {
  font-family: "Clear Sans";
  /* set name */
  src: url(assets/ClearSans-Regular.woff);
  /* url of the font */
}

body {
  font-family: "Clear Sans", sans-serif;
  background-color: #8BD1CB;
  /* Light Blue */
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 10px; /* space between tiles */
  padding: 10px;
  background-color: #2E9DF7;
  justify-content: center;
}

.grid-tile {
  width: 80px;
  height: 80px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.score-value {
  font-size: 18px;
  margin: 0;
}

#restart {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FFC907;
  /* Yellow */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}